.title-slide {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/BlankMap-World_gray.svg/1405px-BlankMap-World_gray.svg.png);
  background-size: cover;
}


.gdbar img {
  width: 110px !important;
  height: 110px !important;
  margin: 0px 0px;
  left: 30px
}

.gdbar {
  width: 160px !important;
  height: 120px !important;
}

slides > slide:not(.nobackground):before {
  width: 70px;
  height: 70px;
  background-size: 75px 75px;
  position: absolute;
  top: 20px;
  left: 1000px;
}

/* section slides */
slides > slide.dark {
  background-color: #6b6a6a !important;
}



a { /* hyperlink */
  color: steelblue;
  text-decoration: none;
  border-bottom: 1px solid steelblue;
}

.large { font-size: 130% }
.small { font-size: 70% }

.small-code pre code {
  font-size: 70%
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 25px;
  font-size: 22px;
  line-height: 1.6;
}
blockquote:before {
  color: #ccc;
  margin-right: 0.5em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


header {
    width: 100%;
    height: 5em;
    background-color: #345cd7;
    position: relative;
    margin: 0;
    padding: 0;
}

.title-slide hgroup h1 {
  font-size: 63px;
  line-height: 1.4;
  letter-spacing: -3px;
  color: #515151;
}

h2 { /* Header 2 */
    margin:0;
    margin-top: -20px;
    margin-bottom: -20px;
    padding: 0;
    color: #3EB3B3;
}


body{ /* Normal  */
      font-size: 12px;
  }

code.r { /* Code block */
    font-size: 20px;
    padding: 0px;

}

/* inline code color */
code {
   color: #990a3f; }

pre { /* Code block - determines code spacing between lines */
    font-size: 20px;
    white-space: pre-wrap;
    /* line-height: 115%; */
}


.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
