.title-slide {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/BlankMap-World_gray.svg/1405px-BlankMap-World_gray.svg.png);
  background-size: cover;
}


.gdbar img {
  width: 130px !important;
  height: 130px !important;
  margin: 0px 0px;
}

.gdbar {
  width: 150px !important;
  height: 150px !important;
}

slides > slide:not(.nobackground):before {
  width: 70px;
  height: 70px;
  background-size: 75px 75px;
  position: absolute;
  top: 20px;
  left: 1000px;
}

/* section slides */
/* slides > slide.dark {
  background-color: white !important;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/BlankMap-World_gray.svg/1405px-BlankMap-World_gray.svg.png) !important;
  background-size: cover !important;
}
*/


a { /* hyperlink */
  color: steelblue;
  text-decoration: none;
  border-bottom: 1px solid steelblue;
}

.large { font-size: 130% }
.small { font-size: 70% }

.small-code pre code {
  font-size: 70%
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 0px;
    font-size: 19px;
    border-left: 7px solid #eee;
}

<style type="text/css">

header {
    width: 100%;
    height: 5em;
    background-color: #345cd7;
    position: relative;
    margin: 0;
    padding: 0;
}


h2 { /* Header 2 */
    margin:0;
    margin-top: -20px;
    margin-bottom: -20px;
    padding: 0;
    color: #3EB3B3;
}


body{ /* Normal  */
      font-size: 12px;
  }

code.r { /* Code block */
    font-size: 20px;
    padding: 0px;

}

/* inline code color */
code {
   color: #990a3f; }

pre { /* Code block - determines code spacing between lines */
    font-size: 20px;
    white-space: pre-wrap;
    /* line-height: 115%; */
}


</style>
